@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.content {
  flex: 1;
  padding-bottom: 50px;
  overflow-y: auto;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: green;
}

nav .header{
  width: 40%;
}

nav .links{
  width: 60%;
}

nav .links ul{
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style: none;
  line-height: 12px;
  margin-right: 20px;
}

nav .links ul li {
  margin-right: 12px;
  margin-left: 12px;
}

nav .links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: ease-in-out 0.1s;
}

nav .links ul li a:hover {
  color: #333;
}

nav span {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

nav p {
  font-size: 14px;
  color: #fff;
}

.home {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home form input {
  width: 100%;
  padding: 4px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  transition: ease-in-out 0.1s;
}

.home .image{
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .image form{
  margin-bottom: 18px;
}

.home .img {
  width: 50%;
  height: 60%;
}

.home .img img {
  width: 100%;
  height: 100%;
}

.home .chat{
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .chat form{
  margin-bottom: 18px;
  height: 50%;
  width: 60%
}

.home .chat input {
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.recipes {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.recipes h1 {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.recipes .recipesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes .recipesList .recipe {
  display: flex;
  flex-direction: row;
  padding: 18px;
  width: 90%;
  background-color: #fff;
  border-radius: 12px;
  margin: 12px;
}

.recipes .recipesList .recipe:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: green;
  color: #ffffff;
  cursor: pointer;
  transition: ease-in 0.15s;
}

.recipes .recipesList .recipe .left {
  width: 85%;
  text-align: justify;
  border-right: #26272b 1.5px solid;
  padding-right: 10px;
}

.recipes .recipesList .recipe .right {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.recipes .recipesList .recipe .right:hover {
  color: black;
}


.recipes button {
  padding: 12px;
  width: auto;
  height: auto;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
} 

.recipes button:hover {
  background-color: #333;
  transition: ease-in-out 0.1s;
}

/* inventory */
.inventory {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.inventory h2 {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.inventory button {
  padding: 12px;
  width: auto;
  height: auto;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

.inventory button:hover {
  background-color: #333;
  transition: ease-in-out 0.1s;
}

.inventory .popup {
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #fff;
  margin: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.inventory .popup input {
  width: 40%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inventory .popup button {
  width: 40%;
  padding: 8px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

.inventory .popup button:hover {
  background-color: #333;
  transition: ease-in-out 0.1s;
}

.inventory .item{
  display: flex;
  flex-direction: row;
  padding: 18px;
  width: 90%;
  background-color: none;
  border-radius: 12px;
  margin: 12px;
  border: #26272b 1.5px solid;
}

.inventory .item:hover {
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: ease-in 0.15s;
}

.inventory .item .left {
  width: 75%;
  text-align: justify;
  border-right: #26272b 1.5px solid;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.inventory .item .right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.inventory .item .right button {
  padding: 8px;
  width: 80%;
  height: auto;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 16px;
}

.inventory .item .right button:hover {
  background-color: #333;
  transition: ease-in-out 0.1s;
}



/* footer */



.siteFooter {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.siteFooter p {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  margin: 0 12px 6px 12px;
}